<!DOCTYPE html>
{% load static %}

<html>
<head>
	<title>Telegram scrapper</title>
	<style>
		form {
			width: 50%;
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 5px;
		}

		input, button {
			margin: 5px;
			padding: 10px;
			border-radius: 5px;
			border: 1px solid #ccc;
		}

		button {
			background-color: #4CAF50;
			color: white;
		}

		.placeholder {
			font-style: italic;
			color: #999;
			margin-top: 5px;
		}
		h1 {
			text-align: center;
			margin-top: 50px;
		}
		.loader {
			  border: 10px solid #f3f3f3; /* Light grey */
			  border-top: 10px solid #3498db; /* Blue */
			  border-radius: 50%;
			  width: 40px;
			  height: 40px;
			  animation: spin 2s linear infinite;
			}

	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}
	</style>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{% static 'core/script.js' %}"></script>

</head>
<body>
	<h1>Telegram scrapper</h1>

	<form id="my-form">
		  {% csrf_token %}
		<label for="scrap-input">Channel(s) telegram a scrapper:</label>
		<input type="text" id="scrap-input" name="scrap-input" placeholder="chan1" required>
		<div class="placeholder">Ex: chan1 chan2 chan3</div>

		<button type="submit">Démarrer le scrapping</button>
		<div id="message" style="display: none;"></div>
			<div id="loader" style="display:none;">
			<div class="loader"></div>
		</div>

	</form>
	<script>
$(document).ready(function() {
    $("#my-form").submit(function(event) {
        event.preventDefault();

        var inputText = $("#scrap-input").val();

        $.ajax({
            type: "POST",
            url: "/ajax/",
            data: inputText,
            beforeSend: function(xhr, settings) {
            $('#scrap-input').val('');
                var csrftoken = getCookie('csrftoken');
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
                $('#loader').show();

            },
            success: function(data) {
                console.log("Success:", data);
                $('#loader').hide();
                $('#message').html('Scrapping lancé, vous serez notifié par mail une fois terminé').css('color', 'green');
                $('#message').show()

            },
            error: function(xhr, status, error) {
                console.log("Error:", error);
                $('#message').html('Erreur, un problème est survenu.').css('color', 'red');

            }
        });
    });
});

// function to get the CSRF token from the cookie
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

	</script>
</body>
</html>